<p>ramiro works!</p>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h1 class="heading">TEXTO</h1>
<h3>YA QUEDO EL SISTEMA</h3>
<input class="heading" type="text" id="dato" size="25" [(ngModel)]="valorservicio" />
<button (click)="getSaludo()" class="btn btn-primary">Consumir REST</button>
<button (click)="hacerMayuscula()" class="btn btn-danger">Alerta</button>